@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="homepage-main-content">
        <div class="navigation-section">
            <div class="navigation-section-item">
                <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Environments" asp-action="Index">
                    <div class="action text-dark rounded-3 mb-3"><img src="~/img/nature.png" height="100" width="100" border="0" class="me-2" /></i></div>
                </a>
                <div class="navigation-section-text">
                    <a class="text-dark" asp-area="" asp-controller="Environments" asp-action="Index">
                        <h2 class="h5">Environments</h2>
                    </a>
                    <p class="mb-0">View and edit game environments.</p>
                </div>
            </div>
            <div class="navigation-section-item">
                <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Animals" asp-action="Index">
                    <div class="action text-dark rounded-3 mb-3"><img src="~/img/bird-icon.png" height="100" width="100" border="0" class="me-2" /></div>
                </a>
                <div class="navigation-section-text">
                    <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Animals" asp-action="Index">
                        <h2 class="h5">Animals</h2>
                    </a>
                    <p class="mb-0">View and edit game animals.</p>
                </div>
            </div>
            <div class="navigation-section-item">
                <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Players" asp-action="Index">
                    <div class="action text-dark rounded-3 mb-3"><img src="~/img/team.png" height="100" width="100" border="0" class="me-2" /></div>
                </a>
                <div class="navigation-section-text">
                    <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Players" asp-action="Index">
                        <h2 class="h5">Players</h2>
                    </a>
                    <p class="mb-0">View player accounts and details.</p>
                </div>
            </div>
            <div class="navigation-section-item">
                <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Achievements" asp-action="Index">
                    <div class="action text-dark rounded-3 mb-3"><img src="~/img/ribbon.png" height="100" width="100" border="0" class="me-2" /></i></div>
                </a>
                <div class="navigation-section-text">
                    <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Achievements" asp-action="Index">
                        <h2 class="h5">Achievements</h2>
                    </a>
                    <p class="mb-0">View and edit achievements.</p>
                </div>
            </div>
            <div class="navigation-section-item">
                <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Roles" asp-action="Index">
                    <div class="action text-dark rounded-3 mb-3"><img src="~/img/id-card.png" height="100" width="100" border="0" class="me-2" /></div>
                </a>
                <div class="navigation-section-text">
                    <a class="text-dark navigation-section-icon" asp-area="" asp-controller="Roles" asp-action="Index">
                        <h2 class="h5">Roles</h2>
                    </a>
                    <p class="mb-0">Edit and assign staff roles.</p>
                </div>
            </div>
        </div>
        <div class="statistics-section"></div>
    </div>
</div>
