html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #C1CABE;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.homepage-main-content {
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    background-color: #112C09;
}

.navbar a {

}

.page-title {
    margin-top: 50px;
    font-weight: 400;
}

.page-subtitle {
    margin-top: 10px;
}

.homepage-main-content {
    margin-top: 75px;
}

.navigation-section-item {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navigation-section-text {
    text-align: left;
    margin-top: 20px;
}

.navigation-section-text a {
    text-decoration: none;
}

.text-light {
    color: #C1CABE !important;
}

.text-dark {
    color: #112C09 !important;
}

.custom-table th {
    background-color: #112C09;
    color: #C1CABE;
}

.custom-table tbody tr:nth-child(odd) td {
    background-color: #CDD7CA;
    color: #112C09;
}

.custom-table tbody tr:nth-child(even) td {
    background-color: #ACC2A6;
    color: #112C09;
}

.custom-table tbody td a {
    color: #112C09;
}

.create-link {
    color: #112C09;
}

.crud-page-title {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.crud-page-subtitle {
    margin-bottom: 25px;
    text-align: center;
}

.footer {
    background-color: #4A5348;
}

.footer p {
    margin-top: 20px;
}